@using TodoApp.Data.Enum;
@model TodoApp.ViewModels.TodoViewModel

<form method="post" asp-action="Create">
    <div class="mb-3">
        <label asp-for="NewTodo.Title">To-do</label>
        <input asp-for="NewTodo.Title" class="form-control" placeholder="add To-do">
        <span asp-validation-for="NewTodo.Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NewTodo.Description">details</label>
        <textarea asp-for="NewTodo.Description" class="form-control pre-wrap" rows="3"></textarea>
        <span asp-validation-for="NewTodo.Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NewTodo.TodoCategory">TodoCategory</label>
        <select asp-for="NewTodo.TodoCategory" asp-items="@Html.GetEnumSelectList<TodoCategory>()" class="form-control"></select>
        <span asp-validation-for="NewTodo.TodoCategory" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label>Date</label>
        <input asp-for="NewTodo.CreatedDate" id="datepicker" name="NewTodo.CreatedDate" class="form-control" placeholder="Select a date" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
}
