@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-lg-7 col-md-7 col-sm-12">
    <h1 class="fs24 page-header-title">@Model.Title</h1>
    <p class="m-0 mb-3 fs16 page-header-desc fs20">@Model.Description<br></p>
</div>