<div class="col-lg-7 col-md-7 col-sm-12">
    <h1 class="fs24 page-header-title">@Model.Title</h1>
    <h4 class="text-muted">@Model.TodoCategory</h4>
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <h6 class="m-0 mb-3 fs16 page-header-desc pre-wrap">
            @Html.Raw(Model.Description.Replace(Environment.NewLine, "<br>"))
        </h6>
    }
</div>
